name: Update V2Ray Configs
on:
  schedule:
    - cron: '0 */2 * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - run: pip install requests
      - name: Run Collector
        env:
          
        run: python scripts/collector.py
      - run: |
     
          git add configs/*.txt
          git commit -m "Update V2Ray configs [$(date)]" || echo "No changes"
          git push
